
 
 .previous-button {
   background-color: #86abf0; /* couleur de fond */
   border: none; /* pas de bordure */
   color: white; /* couleur de texte */
   padding: 10px 20px; /* espacement autour du texte */
   text-align: center; /* centré horizontalement */
   text-decoration: none; /* pas de soulignement */
   display: inline-block; /* affichage en ligne */
   font-size: 16px; /* taille de police */
   margin: 10px; /* espacement autour du bouton */
   border-radius: 5px; /* bordure arrondie */
   cursor: pointer; /* curseur de souris */
 }
 .previous-button:hover{
  color:  rgb(166, 199, 241);
  background-color: #3213df;
  cursor: pointer;
}
 
 .next-button {
   background-color: #316291; /* couleur de fond */
   border: none; /* pas de bordure */
   color: white; /* couleur de texte */
   padding: 10px 20px; /* espacement autour du texte */
   text-align: center; /* centré horizontalement */
   text-decoration: none; /* pas de soulignement */
   display: inline-block; /* affichage en ligne */
   font-size: 16px; /* taille de police */
   margin: 10px; /* espacement autour du bouton */
   border-radius: 5px; /* bordure arrondie */
   cursor: pointer; /* curseur de souris */
   float: right; /* flotter à droite */
 }
 .next-button:hover{
  color:  rgb(166, 199, 241);
  background-color: #3213df;
  cursor: pointer;
}
 .search {
  /*background-color: rgb(139, 170, 216);*/
  color: #333; /* couleur du texte */
  font-size: 16px; /* taille de police */
  padding: 10px 20px; /* espace autour du texte */
  border: none; /* bordure */
  border-radius: 4px; /* coins arrondis */
  cursor: pointer; /* curseur de la souris */
  transition: background-color 0.3s ease; /* transition de la couleur de fond */
  margin-bottom: 10px;
  float: right;
}
swal-container {
  width: 400px; /* Adjust the width as needed */
}

.swal-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}
.swal-html-container {
  text-align: left;
}

.swal-info p {
  margin-bottom: 10px;
}

.swal-info b {
  font-weight: bold;
}

.swal-info span {
  font-weight: normal;
  color: #666;
}
/* Styling the <select> element */
select {
  /* Add your desired styles here */
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  /* ... */
}

/* Styling the <option> elements */
select option {
  /* Add your desired styles here */
  background-color: #fff;
  color: #333;
  /* ... */
}

/* Styling the selected <option> */
select option:checked {
  /* Add your desired styles here */
  background-color: #007bff;
  color: #fff;
  /* ... */
}
