<app-adminheader></app-adminheader>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <app-adminsidebar></app-adminsidebar>
    </div>
     <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Vehicules</h1>
                
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-lg-10">
                                <i class="fas fa-table me-1"></i>
                                Liste des Vehicules
                            </div>
                            <div class="col col-lg-2">
                                <button class="btn btn-primary btn-sm float-right"  (click)="showAddForm()" >
                                    <i class="fas fa-plus"></i>
                            
                                    
                                </button>
                            </div>


                            <div class="row" *ngIf="addFormVisible">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        
                                    </div>
                                    <div class="card-body">
            
                                        <form (ngSubmit)="createVehicule();" method="POST">
                                            <div class="card card-default">
            
                                                <div class="card-body">
            
                                                    <div class="row">
                                                     
                                                        <div class="form-group col-lg-6">
                                                            <label>Agence</label>
                                                            <select     required class="form-control" id="DropdownOptions" name="type"
                                                            (change)="getid($event)"  formControlName="type">
                                                            <option *ngFor="let opt of agences"
                                                                [value]="opt.id">
                                                                {{ opt.name }}
                                                            </option>
                                                            
                                                        </select>
                                                        
                                                                
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <label>Immatricule</label>
                                                            <input type="te
                                                            " name="immatricule" [(ngModel)]="vehicule.immatricule"
                                                            required #immatricule="ngModel" class="form-control">
                                                            <span style=color:red *ngIf="!immatricule.valid && immatricule.touched">Immatricule est obligatoire</span>
                                                               
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <label>Capacite</label>
                                                            <input type="number" name="capacite" [(ngModel)]="vehicule.capacite"
                                                            required #capacite="ngModel" class="form-control">
                                                            <span style=color:red *ngIf="!capacite.valid && capacite.touched">Capacité est obligatoire</span>
                                                             
                                                        </div>
                                                      <!-- <div class="form-group col-lg-6">
                                                            <label>Stations</label>
                                                            <textarea name="stations" [(ngModel)]="vehicule.stations"
                                                                class="form-control">
                                                                </textarea>
                                                        </div>--> 
                                                    </div>
                                                     
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row float-right">
                                                        <div class="col">
                                                            <button type="reset" class="btn btn-primary  btn-sm m-3"
                                                                data-dismiss="modal"
                                                                (click)="hideAddForm()">Annuler</button>
                                                            <button type="submit" class="btn btn-success btn-sm"
                                                                data-dismiss="modal">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
            
            
            
            
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="editFormVisible">
                            <div class="card mb-4">
                                <div class="card-body">
        
                                    <form (ngSubmit)="updatevehicule(vehicule)" method="POST">
                                        <div class="card card-default">
        
                                            <div class="card-body">
        
                                                <div class="row">
                                                   
                                                    <div class="form-group col-lg-6">
                                                        <label>Agence</label>
                                                        <select     required class="form-control" id="DropdownOptions" name="type"
                                                        (change)="getid($event)"  formControlName="type">
                                                        <option *ngFor="let opt of agences"
                                                            [value]="opt.id">
                                                            {{ opt.name }}
                                                        </option>
                                                    </select>
                                                           
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label>Immatricule</label>
                                                        <input type="text"name="immatricule" [(ngModel)]="vehicule.immatricule"
                                                            class="form-control">
                                                            
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <label>Capacite</label>
                                                        <input type="number" name="capacite" [(ngModel)]="vehicule.capacite"
                                                            class="form-control">
                                                           
                                                    </div>
                                                    <!--
                                                    <div class="form-group col-lg-6">
                                                        <label>Stations</label>
                                                        <textarea name="stations" [(ngModel)]="vehicule.stations"
                                                            class="form-control">
                                                            </textarea>
                                                    </div>-->
                                                   
                                                </div>
                                            
                                            </div>
                                            <div class="card-footer">
                                                <div class="row float-right">
                                                    <div class="col">
                                                        <button type="reset" class="btn btn-primary  btn-sm m-3"
                                                            data-dismiss="modal"
                                                            (click)="hideEditForm()">Annuler</button>
                                                        <button type="submit" class="btn btn-success btn-sm"
                                                            data-dismiss="modal">Enregistrer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
        
        
        
        
                                </div>
                            </div>
                        </div>
        




                        </div>
                    </div>
                    <table class="table table-striped table-bordered">
<thead>
<tr>
    <th>Immatricule</th>
    <th>Agence</th>
    <th>Contact</th>
<th>Capacite</th>

<th>nombers Stations</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let vehicule of Vehicules | slice:(currentPage - 1) * itemsPerPage : currentPage * itemsPerPage "  >
<td> <p>{{vehicule.immatricule}}</p></td>
<td> <p>{{vehicule.capacite}}</p></td>
<td> <p>{{vehicule.agence.name}}</p></td>
<td> <p>{{vehicule.agence.email}}</p></td>
<td> <p>{{vehicule.stations.length}}</p></td>



<td><button class="btn btn-sm btn-info m-2"  (click)="infovehicule(vehicule)">
    <i class="fas fa-info-circle text-white"></i>

</button>
<button class="btn btn-sm btn-warning m-2"  (click)="editvehicule(vehicule)">
    <i class="fas fa-pen text-white"></i>

    </button>
<button class="btn btn-sm btn-danger m-2" (click)="deletevehicules(vehicule)">
    <i class="fas fa-trash text-white"></i>

</button>
</td>

</tbody>
</table>
<div><button  *ngIf="currentPage>1" class="previous-button" (click)="currentPage = currentPage - 1">Précédent</button>
    <button *ngIf="currentPage<total"  class="next-button" (click)="currentPage = currentPage + 1">Suivant</button></div>

                </div>
            </div>
        </main>
        
    </div>
</div>

